# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Media / Uploaded files
media/

# Environment / local configs
.env
.venv/
env/
venv/
ENV/
