{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <div class="profile-circle">
            <img src="{% static 'images/user.png' %}" alt="Profile">
        </div>

        <h2>VendorBridge Login</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required
            >

            <div class="password-box">

                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Enter Password"
                    required
                >

                <span onclick="togglePassword()">
                    👁️
                </span>

            </div>

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="{% url 'signup' %}">
                Register
            </a>
        </p>

    </div>

</div>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}